<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Info Page</h1>
		<p>This is the info page: <br>Name: Matt<br>Hometown: Mount Sidney<br>School: Flatiron</p>
	</body>
</html>